@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #773977;
    overflow-x: hidden;
}
header{
    margin-bottom: 20px;
}
h1,h2,h3,h4,p,li,th,tr,a{
    color: #c27cc2;
}
#texto{
    margin-left: 12%;
    margin-bottom: 2%;
}
/*cabeçario*/
#carrinho{
    height: 50px;
    width: 50px;
}
#header-nav{
    display: flex;
    align-items: center;
    background-color: #472247;
}
#header-nav img{
    width: 150px;
    margin-left: 20%;
}
#header-nav #user{
    width: 60px;
}div.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 50px;
    min-width: 150px;
}
.parallel-options a{
    color: #b67eb6;
    text-decoration: none;
    font-weight: bold;
    margin: 0px 10px;
}

#main-nav{
    background-color: #472247;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    height: 35px;
    margin: auto;
    padding: 5px 0px;
}
#main-nav a,p{
    text-decoration: none;
    color: #c27cc2;
}
#main-nav input{
    height: 100%;
    background-color: #773977;
    border: none;
    padding: 0px 5px;
}
/*parte da compra*/
.carrinho{
    display: flex;
    margin: auto;
}
.compras{
    margin: auto;
    align-items: center;
    justify-content: center;
}
.jogo{
    display: flex;
    background-color: #472247;
    width: 95%;
    gap: 5%;
}
.jogo_info{
    display: flex;
}
.sobre_compra{
    gap:5%;
}
#comprar_para{
    width: 300px;
}
.total{
    background-color: #472247;
    width: 10%;
    margin-right: 10%;
}
/**recomendações*/
.recomendações{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
    gap: 2%;
}
.recomendações img{
    height: 150px;
    width: 250px;
}
/*compras*/
#comprar{
    width: 100px;
}
/*roda pe*/
footer{
    background-color: #301630;
    margin-top: 10px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img{
    height: 80px;
}
footer p{
    width: 60%;
    font-size: 0.8em;
}