@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #773977;
    overflow-x: hidden;
}
h1,h2,h3,h4,p,li,th,tr,a{
    color: white;
}
.info_main_conta{
    margin-top: 10%;
    background-color: #472247;
    border-style: groove;
    height: 10%;
    width: 100%;
    display: flex;
    gap: 5vw;
}
.info_main_conta img{
    height: auto;
    width: auto;
}
.outras_infos_main{
    justify-content: space-between;
}
.info_games{
    margin-left: 1%;
    margin-top: 3%;
    display: flex;
    gap: 5%;
    width: 100%;
}
.recentes{
    background-color: #472247;
    width: 46%;
}
.jogos_recentes{
    width: auto;
}
.main_info{
    display: flex;
}
.main_info img{
    height: 30%;
    width: 30;
}
.social{
    background-color: #472247;
    width: 46%;
}