@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #773977;
    overflow-x: hidden;
}
.topo{
    display: flex;
    background-color: #773977;
    justify-content: space-between;
    height: 15%;
    width: 100vw;
}
.Paralel h1{
    background-color: none;
    color:#c27cc2;
}
.Paralel{
    display: flex;
    align-items: center;
}
#logo{
    height: 10vh;
}
h1,h2,h3,h4,p,li,th,tr,a{
    color: #c27cc2;
}
.criar_conta{
    background-color: #472247;
    width: 60%;
    margin-top: 10%;
    margin-left: 20%;
    margin-bottom: 10%;
}
.criar_conta button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #773977;
    color: white;
    height: 40px;
    width: 150px;
    border: none;
    margin-bottom: 15px;
}
h6{
    font-size: 0%;
}
.infos input{
    margin-left: 5%;
    margin-bottom: 3%;
    width: 90%;
}
.roda_pe{
    background-color: #180035;
    width: 100vw;
}
.roda_pe h2{
    color: #c27cc2;
}
.roda_pe img{
    height: 3vh;
}
.barra_fundo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 3vw;
}
.barra_fundo button{
    color: #c27cc2;
    background-color: #1c003f;
    font-size: 130%;
    border: none;
}