@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #773977;
}
header{
    margin-bottom: 20px;
}
#header-nav{
    display: flex;
    align-items: center;
    background-color: #472247;
}
#header-nav img{
    width: 150px;
    margin-left: 20%;
    cursor: pointer;
}
.parallel-options a{
    color: #b67eb6;
    text-decoration: none;
    font-weight: bold;
    margin: 0px 10px;
}

#main-nav{
    background-color: #472247;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    height: 35px;
    margin: auto;
    padding: 5px 0px;
}
#main-nav a,p{
    text-decoration: none;
    color: #c27cc2;
}
#main-nav input{
    height: 100%;
    background-color: #773977;
    border: none;
    padding: 0px 5px;
}
.title-section{
    color: #c27cc2;
    margin-bottom: 10px;
}
.featured-area{
    width: 60%;
    margin: 20px auto;
}
.featured-game{
    height: auto;
    display: grid;
    grid-template-columns: 2fr 1fr; 
    box-shadow: 0 0 8px rgba(0,0,0,0.25);
    cursor: pointer;
}
.featured-game img{
    width: 100%;
}
.featured-game-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #472247;
    padding: 10px;
}
#preview-game{
    color: white;
    font-size: 1.8em;
}
.preview{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.featured-game-info img{
    width: 100%;
}
.featured-game-info p{
    color: white;
}
.price-info {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
}
.discount {
    background-color: #4CAF50; 
    color: #b6cfb6;
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 10px;
}
.price{
    background-color: #301630;
    padding: 0px 5px;
}
.original-price {
    text-decoration: line-through; 
    color: #999; 
    font-size: 14px;
}
.new-price {
    color: #4CAF50; 
    font-size: 16px;
    font-weight: bold;
}
.special-offers{
    margin: 20px auto;
    width: 60%;
}
.offers {
    display: flex;
    gap: 20px;
}

.game-in-offer {
    position: relative; 
    width: 300px; 
    height: 180px; 
    overflow: hidden;
}

.game-in-offer img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.discount-offer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #2ecc71;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 16px;
}
footer{
    background-color: #301630;
    margin-top: 10px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img{
    height: 80px;
}
footer p{
    width: 60%;
    font-size: 0.8em;
}