@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #773977;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    background-color: #472247;
    width: 40%;
    padding: 20px;
}
main img{
    width: 130px;
}

form{
    margin: 0px 25px;
}
div.input{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}
div.input label{
    color: white;
}
div.input input{
    border: none;
    background-color: #773977;
    height: 30px;
    padding-left: 10px;
    outline: none;
}
div.input input::placeholder{
    color: #472247;
}
div.login-cadastro{
    display: flex;
    justify-content: space-between;
}
form input[type="submit"]{
    background-color: #773977;
    border: none;
    color: white;
    width: 200px;
    height: 30px;
    cursor: pointer;
}
form a{
    background-color: #773977;
    color: white;
    width: 200px;
    line-height: 30px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 0.8em;
}