@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(115, 0, 255);
}
h1,h2,h3,h4,p,li,th,tr,a{
    color: white;
}
.topo{
    display: flex;
    background-color: #2e0066;
    justify-content: space-between;
    height: 15%;
    width: auto;
}
.Paralel{
    display: flex;
    align-items: center;
}
.conta{
    margin-top: 5px;
    display: flex;
    gap: 5px;
}
.conta img{
    height: 10vh;
}
.menu_topo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}
.menu_topo button{
    height: 3hv;
    width: 2wv;
    padding: 8px 12px;
    align-items: center;
}
.texto{
    display: block;
}
#logo{
    height: 10vh;
}
.topo h1{
    background-color: #2e0066;
    font-size: 300%;
}
.info_jogo{
    background-color: #2e0066;
    display: block;
    margin: auto;
    width: 70%;
}
.principal_info{
    display: flex;
    align-items: flex-start;
}
.informacao{
    flex:1;
    display: flex;
    flex-direction: column;
}
.informacao h2{
    font-size: 55%;
    margin: 10px;
}
.sobre_jogo {
    display: block;
}
.sobre_jogo p{
    font-size: 60%;
    margin-top: 0px;
    margin-left: 10px;
    gap: 0px;
}
.tags{
    display: flex;
}
.tags p{
    font-size: 80%;
    display: flex;
    color: #000000;
    background-color: #811aff;
    width: auto;
}
.informacao img{
    width: 100%;
    height: auto;
}
.imagens{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 50%;
}
.imagens img:first-child {
    width: 100%;             /* imagem principal ocupa toda a largura */
    height: 50%;
}
.imagens_secundarias{
    display: flex;
    flex-wrap: wrap;
    gap:5px;
}
.imagens_secundarias img{
    width: 18%;
    height: 10%;
}
/*aqui fica a parte de detalhes extras*/
.mais_infos{
    display: flex;
}

/*info lado direito*/
.detalhes{
    width: 25%;
}
.compatibilidade{
    background-color: #2e0066;
}
.infos_play{
    margin: 10px 15px;/*x na esquerda e direita*/
}
.infos_play h4{
    background-color: #811aff;
    margin-top: 5px;
}
.idiomas{
    margin: 5px 15px;/*x na esquerda e direita*/
}
.sobre{
    background-color: #2e0066;
}
.denunciar{
    background-color: #2e0066;
    align-items: center;
    display: flex;
    margin: 2%;
    gap: 5%;
}
.redes a{
    background-color: #811aff;
    margin: 10px 15px;
    display: block;
    gap: 5px;
}
.req{
    display: flex;
    gap: 55px;
}
.min{
    margin: 10px 25px;
}
.recomendados{
    margin: 10px 25px;
}
/*info lado esquerdo*/
.geral{
    width: 75%;
}
button{
    background-color: lightgreen;
    position: relative;
    right: 0;
}
.download{
    width: 95%;
}
.compra{
background-color: rgb(173, 199, 199);
}
.beta{
    background-color: green;
}
.adquirir{
    display: flex;
    gap: 10px; 
}
.adquirir p, button{
    /*aqui é o botão e o preço*/
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    gap: 10px;
}
.adquirir img{
    justify-content: flex-start;
    margin-right:75%;
    height: 5vh;
    left: 0px;
}
.evento{
    background-color: rgb(144, 0, 0);
    width: 95%;
}
.mais{
    background-color: #811aff;
    width: 95%;
}
.reviews{
    background-color: #2e0066;
    width: 100vw;
    height: 30%;
}
.feedback_user{
    display: block;
    margin: auto;
    background-color: #200047;
    width: 40%;
}
.review{
    display: flex;
    gap: 5%;
}
.status_gameplay{
    display: flex;
    gap: 25px;
}
